table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 2px;
    background: #af0000;
    color: #ffffff;
    
    
    }
    th {
    color: white;
    font-size: 26px;
    padding: 5px;
    }
    td {
    color: #ffffff;
    background: #000000;
    padding: 10px;
    }
    body{
        font-size: 17px;
        color: black;
        background: rgb(255 0 0);
        background: linear-gradient(90deg, rgb(255 255 255) 30%, rgb(0 0 0 / 85%) 100%);
    }